
/* Default Website Font*/
$font: 'Raleway', sans-serif;

/* Website Cover Colors */
$col-cover-primary: #7e90ff;
$col-cover-secondry:  #4e4e4e;
$col-cover-pale: #E8E8E8;
$col-cover-dark: #4e4e4e;


/* Vonoroi Chart Colors */
$col-lines:  #e2e2e2;
$col-initial-primary-fill:  #e2e2e2;
$col-selected-polygon: #7e90ff;
$col-selected-site-fill:  #e2e2e2;
$col-selected-site-stroke:  #e2e2e2;
$col-sites-fill: none;
$col-sites-line:  #e2e2e2;